# gvim temporary files
.*.swp
# object files, PPU and SPU
*.[o0]
*.o32
*.o64
# embeddable SPU executable
*.spe
.gen
.gennew
test
#source dist
*.tar.gz
#dependency
*.d
*.D
#outputs
spugld
spugld.debug
spugl.a
spugl.a32
spugl.a64
testclient
testclient64
version.txt
#symlink to spu includes
z
hilbert
#junk
Makefile.bak
nohup.out
