# gvim temporary files
.*.swp
# object files, PPU and SPU
*.[o0]
*.o32
*.o64
# embeddable SPU executable
*.spe
.gen
.gennew
test
#source dist
*.tar.gz
#outputs
spugld
spugld.debug
spugl.a
testclient
version.txt
#symlink to spu includes
z
#junk
Makefile.bak
nohup.out
